
/* Responsive Styles */

/* mobile device */

@media screen and (max-width:576px) {
    header{
        padding: 30px ;
    }
    nav,.teams-container{
       flex-direction: column;
       
    }
    ul li {
        margin-top: 20px;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
        margin: auto;
    }
 
    .title-gree,.title-black,.title-orange{
        font-size: 30px;
        
}
.description{
    margin: 0 ;
}
    .teams-content{
        margin-top: 20px;
}
.teams-description{
    text-align: justify;
}
.img-width{
    width: 340px;
height: 340px;
}
/* facts section */

.facts-title-desc{
    margin: 20px 70px;
    text-align: justify;
}
.facts-card-container{
    flex-direction: column;
    margin: 30px;
    gap: 20px;
}

/* sponspors section */
.sponspors{
    margin: 0 70px;
}
.sponspors-description{
    text-align: justify;
}
.sponspors-text{
    margin-top: 50px;
    font-size: 30px;
    text-align: justify;
}
.sponspors-company{
    /* flex-direction: column; */
    display: grid;
    grid-template-columns: repeat(1fr);
    gap: 60px;
   
}
.img-sponspors{
    width: auto;
    height: auto;
    
}

/* footer section */
.footer{
    margin: 0 30px;
    padding: 30px;
    margin-top: 30px;
}
.footer-description{
    justify-content: center;
}
}
/* ipad/tablet device */
@media screen and (min-width:576px) and (max-width:992px) {
    header{
        padding: 50px ;
    }
    nav,.teams-container{
       flex-direction: column;
       
    }
    .teams-img-container{
        margin: 0;
    }
    .description{
        margin: 0;
    }
    ul li {
        margin-top: 20px;
    }
    .banner-description{
        font-size: 18px;
    }
    ul li a{
        font-size: 24px;
    }
    h3{
        font-size: 36px;
    }
    .img-width{
        width: 340px;
    height: 340px;
    }
       .teams-title{
        text-align: center;
        margin-top: 20px;
    }
    .btn-primary{
        text-align: center;
    }
    /* facts section */

    .facts-card-container{
        margin: 0 100px; 
        gap: 20px;
    }
    .facts-description{
        margin-bottom: 50px;
    }

    /* sponspors section */
    .sponspors-company{
        gap: 20px;
    }
    .sponspors{
        margin: 50px;
    }
    .img-sponspors{
        width: 120.757px;
    height: 30px;
    flex-shrink: 0;
    }
    .sponspors-text{
        margin-top: 80px;
    }

    /* footer section */
    .footer{
        margin-top: 80px;
        margin: 0 100px ;
        padding: 30px 100px;
    }
}
